# Data module class 2
Reading documentation: Pandas and BeautifulSoup

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [13]:
# download and import BeautifulSoup if you need to
# !pip install beautifulsoup4

## Pandas
### Terminology reference
#### Data structures
##### 1-dimensional data (create Series)

|pandas abbreviation|definition|example|
|---|---|---|
|dict|Python dictionary|`{'a': 'value', 'b': 'value'}`|
|ndarray|N-dimensional array (can be 1 or 2 dimensional)|`[0, 1, 2, 3]`|
|scalar|Single value|`100`|
|list|Python list|`[0, 1, 2, 3]`|

##### 2-dimensional data (create DataFrames)

|pandas term|example|
|---|---|
|ndarray|`[[0, 1, 2, 3], [4, 5, 6, 7]]`|
|dict of ndarrays|`{'one': [1, 2, 3, 4], 'two': [4, 3, 2, 1]}`|
|list of dicts|`[{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}]`|

#### How do these look when loaded in pandas?
[Taken from the Pandas User Guide](https://pandas.pydata.org/docs/user_guide/dsintro.html)

In [5]:
pd.Series({'a': 'value', 'b': 'value', 'c': 'value'})

a    value
b    value
c    value
dtype: object

In [6]:
pd.Series([0, 1, 2, 3, 4, 5])

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [7]:
pd.Series("Attilla")
pd.Series("Five")
pd.Series(5.25)

0    5.25
dtype: float64

In [8]:
pd.DataFrame([{'id': 1, 'info': 'text'}, {'id': 2, 'info': 'more text'}, {'id': 3, 'info': 'even more text'}])

   id            info
0   1            text
1   2       more text
2   3  even more text

#### Other terms
[See pd.to_datetime() as an example](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas.to_datetime)

#### parameters: Information that a function accepts 
- args
    - Arguments that are required (or things that the function needs in order to run)
    - i.e. data for your DataFrame
- kwargs (even though Pandas does not identify them as such)
    - Keyword arguments: optional arguments not necessary for a function to run, but will tell the function to behave in a different way than the default. Called "keyword" arguments because you have to identify the name of the variable
    - i.e. errors='raise'

In [9]:
df = pd.DataFrame({'year': [2020, 2021],
                   'month': [6, 3],
                   'day': [4, 5]})
#pd.to_datetime(df)
#0   2015-02-04
#1   2016-03-05

In [10]:
pd.to_datetime(df)

0   2020-06-04
1   2021-03-05
dtype: datetime64[ns]

### 1. Let's practice input/output with Pandas with the following links.
Use Panda's [IO Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) section of their documentation to grab these datasets

- [Avengers Wikia data - FiveThirtyEight](https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv) | [Documentation here](https://github.com/fivethirtyeight/data/tree/master/avengers)
- [List of sovereign states - Wikipedia](https://en.wikipedia.org/wiki/List_of_sovereign_states)
- [Homeless housing - LA Times](https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv) | [Documentation](https://github.com/kyleykim/R_Scripts/tree/master/la-me-ln-hhh-unequal)

In [11]:
df_Avengers = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/comic-characters/marvel-wikia-data.csv')

In [198]:
df_Avengers.head(3)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0

In [13]:
url = ('https://en.wikipedia.org/wiki/List_of_sovereign_states')

In [14]:
df_sovereigns = pd.read_html(url)

In [92]:
df_sovereigns = df_sovereigns[0]

In [95]:
df_sovereigns.columns

Index(['Common and formal names', 'Membership within the UN System[a]',
       'Sovereignty dispute[b]',
       'Further information on status and recognition of sovereignty[d]'],
      dtype='object')

In [101]:
df_sovereigns.isnull()

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,True,True,True,True
1,False,True,True,True
2,False,False,False,False
3,False,False,True,True
4,False,True,True,True
...,...,...,...,...
237,False,True,False,False
238,False,False,False,False
239,False,True,False,False
240,True,True,True,True
241,True,True,True,True

In [23]:
df_LA = pd.read_csv('https://raw.githubusercontent.com/kyleykim/R_Scripts/master/la-me-ln-hhh-unequal/revised_data/master_data_geocoded.csv')

### 2. Let's practice working with missing data and selecting these values
#### For each DataFrame, either select all the missing values of one column or select a unique categorical value.
The [Indexing and selecting data¶](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) section of Pandas documentation will help

In [36]:
df_Avengers.columns

Index(['page_id', 'name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX',
       'GSM', 'ALIVE', 'APPEARANCES', 'FIRST APPEARANCE', 'Year'],
      dtype='object')

In [75]:
#df_Avengers['EYE'].unique()
df_hazel = df_Avengers['EYE']=='Hazel Eyes'
df_hazel.value_counts()

False    16300
True        76
Name: EYE, dtype: int64

In [106]:
df_Avengers['HAIR'].unique()
#df_Avengers['HAIR'].isna()

array(['Brown Hair', 'White Hair', 'Black Hair', 'Blond Hair', 'No Hair',
       'Blue Hair', 'Red Hair', 'Bald', 'Auburn Hair', 'Grey Hair',
       'Silver Hair', 'Purple Hair', 'Strawberry Blond Hair',
       'Green Hair', 'Reddish Blond Hair', 'Gold Hair', nan,
       'Orange Hair', 'Pink Hair', 'Variable Hair', 'Yellow Hair',
       'Light Brown Hair', 'Magenta Hair', 'Bronze Hair', 'Dyed Hair',
       'Orange-brown Hair'], dtype=object)

In [107]:
df_Avengers['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity', nan], dtype=object)

In [111]:
df_Avengers[df_Avengers['ID'].isna()].shape

(3770, 13)

In [28]:
#No nan from status
df_LA['status'].isna().head(5)

0    False
1    False
2    False
3    False
4    False
Name: status, dtype: bool

In [200]:
df_LA.isna()
#all clean, no missing values?

,project_name,address,district_no,units,sh_units,status,lon,lat,geoAddress
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
74,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False
78,False,False,False,False,False,False,False,False,False

#### a. Avengers

In [203]:
df_Avengers['EYE'].isnull().value_counts()

True     9767
False    6609
Name: EYE, dtype: int64

#### b. Countries

In [102]:
df_sovereigns.isnull()

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,True,True,True,True
1,False,True,True,True
2,False,False,False,False
3,False,False,True,True
4,False,True,True,True
...,...,...,...,...
237,False,True,False,False
238,False,False,False,False
239,False,True,False,False
240,True,True,True,True
241,True,True,True,True

In [115]:
#df_sovereigns.info
df_sovereigns[df_sovereigns['Common and formal names'].isna()]

,Common and formal names,Membership within the UN System[a],Sovereignty dispute[b],Further information on status and recognition of sovereignty[d]
0,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN

#### c. LA homeless housing

In [160]:
df_LA.info()
#df_LA[df_LA['address'].isna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   project_name  79 non-null     object
 1   address       79 non-null     object
 2   district_no   79 non-null     int64
 3   units         79 non-null     int64
 4   sh_units      79 non-null     int64
 5   status        79 non-null     object
 6   lon           79 non-null     float64
 7   lat           79 non-null     float64
 8   geoAddress    79 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.7+ KB

In [126]:
#df_LA['status'].unique()
df_LA[df_LA['status']!='Pending City Council approval'].head(5)
#len(df_LA[df_LA['status']!='Pending City Council approval'])

,project_name,address,district_no,units,sh_units,status,lon,lat,geoAddress
0,Reseda Theater Senior Housing (Canby Woods West),7221 N CANBY AVE CA 91335,3,26,13,Already approved,-118.535105,34.201798,"7221 canby ave, reseda, ca 91335, usa"
1,Main Street Apartments,5501 S MAIN ST CA 90037,9,57,56,Already approved,-118.274276,33.992203,"5501 s main st, los angeles, ca 90037, usa"
2,Berendo Sage,1035 S BERENDO ST CA 90006,1,42,21,Already approved,-118.294014,34.051678,"1035 s berendo st, los angeles, ca 90006, usa"
3,South Main Street Apartments,12003 S MAIN ST CA 90061,15,62,61,Already approved,-118.274250,33.923439,"12003 s main st, los angeles, ca 90061, usa"
4,Montecito II Senior Housing,6668 W FRANKLIN AVE HOLLYWOOD CA 90028,13,64,32,Already approved,-118.335282,34.105027,"6668 franklin ave, los angeles, ca 90028, usa"

### 3. Let's practice cleaning with intent

#### Use each the three datasets loaded in to generate a question you want to answer with the data
##### Tips
- Show the column list the column types and null values
- Find unique values to look at categorical data

#### a. Avengers
##### Question
- How many characters have green eyes and blond hair? 

##### What steps do I need to do to answer the question?
- Look at frame info for the basics, call for uniques to see how the file words eye/hair coloring, ask if there are missing values. 
- Do value counts for green eyes/blond hair
- Do an "&" operator to get Avengers with both those traits

In [171]:
# show the dataframe info here to get you started 
#df_Avengers.info()
#df_Avengers['EYE'].unique()
#df_Avengers['EYE'].isna()
#df_Avengers['HAIR'].unique()
#df_green = df_Avengers['EYE']=='Green Eyes'
#df_green.value_counts()
df_blond = df_Avengers['HAIR']=='Blond Hair'
df_blond.value_counts()

False    14794
True      1582
Name: HAIR, dtype: int64

In [172]:
len(df_Avengers[df_Avengers['HAIR']=='Blond Hair'])

1582

In [143]:
df_both=(df_Avengers['EYE']=='Green Eyes') & (df_Avengers['HAIR']=='Blond Hair')
df_both.value_counts()

False    16318
True        58
dtype: int64

In [147]:
#df[df['Location'].str.contains(", NY", na=False)]
#for avenger in df_Avengers:
#    if df_Avengers['EYE']=='Green Eyes':
#        print(df_Avengers['name'])

#### b. Countries
##### Question
- How many countries are in sovereignty disputes?

##### What cleaning do I need to do to answer the question
- Get exact column names
- Look for missing data? Is this necessary?
- Do length counts

In [162]:
df_sovereigns.columns
#df_sovereigns.info

Index(['Common and formal names', 'Membership within the UN System[a]',
       'Sovereignty dispute[b]',
       'Further information on status and recognition of sovereignty[d]'],
      dtype='object')

In [158]:
#df_sovereigns[df_sovereigns['Sovereignty dispute[b]'].isna()].count()
df_sovereigns['Sovereignty dispute[b]'].isna()

0       True
1       True
2      False
3       True
4       True
       ...
237    False
238    False
239    False
240     True
241     True
Name: Sovereignty dispute[b], Length: 242, dtype: bool

In [187]:
len(df_sovereigns['Sovereignty dispute[b]'].unique())

46

# c. LA homeless housing
##### Question
- How many shelters are approved?

##### What cleaning do I need to do to answer the question
- Get column names
- Get uniques
- Count

In [190]:
df_LA.info()
#df_LA[df_LA['address'].isna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   project_name  79 non-null     object
 1   address       79 non-null     object
 2   district_no   79 non-null     int64
 3   units         79 non-null     int64
 4   sh_units      79 non-null     int64
 5   status        79 non-null     object
 6   lon           79 non-null     float64
 7   lat           79 non-null     float64
 8   geoAddress    79 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.7+ KB

In [193]:
df_LA['status'].unique()

array(['Already approved', 'Pending City Council approval'], dtype=object)

In [197]:
#df_LA[df_LA['status']!='Pending City Council approval'].head(5)
len(df_LA[df_LA['status']!='Pending City Council approval'])

55

In [205]:
df_LA['project_name'][0:5]

0    Reseda Theater Senior Housing (Canby Woods West)
1                              Main Street Apartments
2                                        Berendo Sage
3                        South Main Street Apartments
4                         Montecito II Senior Housing
Name: project_name, dtype: object

Take a look at the [LA Times'](https://github.com/datadesk/notebooks) or [FiveThirtyEight's](https://github.com/fivethirtyeight/data) for more practice

## BeautifulSoup
[BeautifulSoup documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [213]:
# load in the HTML and format for BS
sp_wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [212]:
sp_r = requests.get(sp_wiki_url)

In [221]:
#sp_r.content
sp_bs = BeautifulSoup(sp_r.content)

In [222]:
# find the title tag
sp_bs.title

In [226]:
#sp_bs.a
sp_bs.find('a')
# grab the first a tag
# finds all a tags

In [228]:
# finds all a tags
#sp_bs.find_all('a')
len(sp_bs.find_all('a'))

3562

In [229]:
# find all elements with the class "mw-jump-link"
sp_bs.find_all(class_='mw-jump-link')

[<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>,
 <a class="mw-jump-link" href="#searchInput">Jump to search</a>]

#### Format the first table of the list of S&P 500 companies wiki page as a dataframe

[Traversing the DOM - W3C](https://www.w3.org/wiki/Traversing_the_DOM)

In [242]:
# find where the data you want resides (a tag, class name, etc)
#tags within tags
#html is a tree, a nested structure, go thru dom tree
sp_tables = sp_bs.find_all('table')

### We can do more cleaning here

In [243]:
len(sp_tables)

2

In [244]:
sp_tables=sp_tables[0]

In [245]:
sp_trs = sp_tables.find_all('tr')

In [249]:
#header row
sp_trs[0]

<tr>
<th><a href="/wiki/Ticker_symbol" title="Ticker symbol">Symbol</a>
</th>
<th>Security</th>
<th><a href="/wiki/SEC_filing" title="SEC filing">SEC filings</a></th>
<th><a href="/wiki/Global_Industry_Classification_Standard" title="Global Industry Classification Standard">GICS</a> Sector</th>
<th>GICS Sub-Industry</th>
<th>Headquarters Location</th>
<th>Date first added</th>
<th><a href="/wiki/Central_Index_Key" title="Central Index Key">CIK</a></th>
<th>Founded
</th></tr>

In [250]:
sp_list = []
for tr in sp_trs[0:1]:
    print(tr)

<tr>
<th><a href="/wiki/Ticker_symbol" title="Ticker symbol">Symbol</a>
</th>
<th>Security</th>
<th><a href="/wiki/SEC_filing" title="SEC filing">SEC filings</a></th>
<th><a href="/wiki/Global_Industry_Classification_Standard" title="Global Industry Classification Standard">GICS</a> Sector</th>
<th>GICS Sub-Industry</th>
<th>Headquarters Location</th>
<th>Date first added</th>
<th><a href="/wiki/Central_Index_Key" title="Central Index Key">CIK</a></th>
<th>Founded
</th></tr>

In [251]:
#start with 1
# double loop, loop through all the trs for the tds
#dropping the header row
sp_list = []
for tr in sp_trs[1:]:
    tds = tr.find_all('td')
    tr_list = []
    for td in tds:
        tr_list.append(td.text)
    sp_list.append(tr_list)

In [252]:
#pulls data in an organized way that pandas accepts
sp_list

[['MMM\n',
  '3M',
  'reports',
  'Industrials',
  'Industrial Conglomerates',
  'Saint Paul, Minnesota',
  '1976-08-09',
  '0000066740',
  '1902\n'],
 ['ABT\n',
  'Abbott Laboratories',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'North Chicago, Illinois',
  '1964-03-31',
  '0000001800',
  '1888\n'],
 ['ABBV\n',
  'AbbVie',
  'reports',
  'Health Care',
  'Pharmaceuticals',
  'North Chicago, Illinois',
  '2012-12-31',
  '0001551152',
  '2013 (1888)\n'],
 ['ABMD\n',
  'Abiomed',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'Danvers, Massachusetts',
  '2018-05-31',
  '0000815094',
  '1981\n'],
 ['ACN\n',
  'Accenture',
  'reports',
  'Information Technology',
  'IT Consulting & Other Services',
  'Dublin, Ireland',
  '2011-07-06',
  '0001467373',
  '1989\n'],
 ['ATVI\n',
  'Activision Blizzard',
  'reports',
  'Communication Services',
  'Interactive Home Entertainment',
  'Santa Monica, California',
  '2015-08-31',
  '0000718877',
  '2008\n'],
 ['ADBE\n',
  'Adobe',
  'reports',
  'Information Technology',
  'Application Software',
  'San Jose, California',
  '1997-05-05',
  '0000796343',
  '1982\n'],
 ['AMD\n',
  'Advanced Micro Devices',
  'reports',
  'Information Technology',
  'Semiconductors',
  'Santa Clara, California',
  '',
  '0000002488',
  '1969\n'],
 ['AAP\n',
  'Advance Auto Parts',
  'reports',
  'Consumer Discretionary',
  'Automotive Retail',
  'Raleigh, North Carolina',
  '2015-07-09',
  '0001158449',
  '1932\n'],
 ['AES\n',
  'AES Corp',
  'reports',
  'Utilities',
  'Independent Power Producers & Energy Traders',
  'Arlington, Virginia',
  '1998-10-02',
  '0000874761',
  '1981\n'],
 ['AFL\n',
  'Aflac',
  'reports',
  'Financials',
  'Life & Health Insurance',
  'Columbus, Georgia',
  '1999-05-28',
  '0000004977',
  '1955\n'],
 ['A\n',
  'Agilent Technologies',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'Santa Clara, California',
  '2000-06-05',
  '0001090872',
  '1999\n'],
 ['APD\n',
  'Air Products & Chemicals',
  'reports',
  'Materials',
  'Industrial Gases',
  'Allentown, Pennsylvania',
  '1985-04-30',
  '0000002969',
  '1940\n'],
 ['AKAM\n',
  'Akamai Technologies',
  'reports',
  'Information Technology',
  'Internet Services & Infrastructure',
  'Cambridge, Massachusetts',
  '2007-07-12',
  '0001086222',
  '1998\n'],
 ['ALK\n',
  'Alaska Air Group',
  'reports',
  'Industrials',
  'Airlines',
  'Seattle, Washington',
  '2016-05-13',
  '0000766421',
  '1985\n'],
 ['ALB\n',
  'Albemarle Corporation',
  'reports',
  'Materials',
  'Specialty Chemicals',
  'Charlotte, North Carolina',
  '2016-07-01',
  '0000915913',
  '1994\n'],
 ['ARE\n',
  'Alexandria Real Estate Equities',
  'reports',
  'Real Estate',
  'Office REITs',
  'Pasadena, California',
  '2017-03-20',
  '0001035443',
  '1994\n'],
 ['ALXN\n',
  'Alexion Pharmaceuticals',
  'reports',
  'Health Care',
  'Pharmaceuticals',
  'Boston, Massachusetts',
  '2012-05-25',
  '0000899866\n',
  '1992\n'],
 ['ALGN\n',
  'Align Technology',
  'reports',
  'Health Care',
  'Health Care Supplies',
  'San Jose, California',
  '2017-06-19',
  '0001097149',
  '1997\n'],
 ['ALLE\n',
  'Allegion',
  'reports',
  'Industrials',
  'Building Products',
  'Dublin, Ireland',
  '2013-12-02',
  '0001579241\n',
  '1908\n'],
 ['LNT\n',
  'Alliant Energy',
  'reports',
  'Utilities',
  'Electric Utilities',
  'Madison, Wisconsin',
  '2016-07-01',
  '0000352541\n',
  '1917\n'],
 ['ALL\n',
  'Allstate Corp',
  'reports',
  'Financials',
  'Property & Casualty Insurance',
  'Northfield Township, Illinois',
  '1995-07-13',
  '0000899051\n',
  '1931\n'],
 ['GOOGL\n',
  'Alphabet (Class A)',
  'reports',
  'Communication Services',
  'Interactive Media & Services',
  'Mountain View, California',
  '2014-04-03',
  '0001652044\n',
  '1998\n'],
 ['GOOG\n',
  'Alphabet (Class C)',
  'reports',
  'Communication Services',
  'Interactive Media & Services',
  'Mountain View, California',
  '2006-04-03',
  '0001652044\n',
  '1998\n'],
 ['MO\n',
  'Altria Group',
  'reports',
  'Consumer Staples',
  'Tobacco',
  'Richmond, Virginia',
  '1957-03-04',
  '0000764180',
  '1985\n'],
 ['AMZN\n',
  'Amazon',
  'reports',
  'Consumer Discretionary',
  'Internet & Direct Marketing Retail',
  'Seattle, Washington',
  '2005-11-18',
  '0001018724\n',
  '1994\n'],
 ['AMCR\n',
  'Amcor',
  'reports',
  'Materials',
  'Paper Packaging',
  'Zurich, Switzerland',
  '2019-06-07',
  '0001748790',
  '2019 (1860)\n'],
 ['AEE\n',
  'Ameren Corp',
  'reports',
  'Utilities',
  'Multi-Utilities',
  'St. Louis, Missouri',
  '1991-09-19',
  '0001002910\n',
  '1902\n'],
 ['AAL\n',
  'American Airlines Group',
  'reports',
  'Industrials',
  'Airlines',
  'Fort Worth, Texas',
  '2015-03-23',
  '0000006201\n',
  '1934\n'],
 ['AEP\n',
  'American Electric Power',
  'reports',
  'Utilities',
  'Electric Utilities',
  'Columbus, Ohio',
  '1957-03-04',
  '0000004904',
  '1906\n'],
 ['AXP\n',
  'American Express',
  'reports',
  'Financials',
  'Consumer Finance',
  'New York City',
  '1976-06-30',
  '0000004962\n',
  '1850\n'],
 ['AIG\n',
  'American International Group',
  'reports',
  'Financials',
  'Property & Casualty Insurance',
  'New York City',
  '1980-03-31',
  '0000005272\n',
  '1919\n'],
 ['AMT\n',
  'American Tower',
  'reports',
  'Real Estate',
  'Specialized REITs',
  'Boston, Massachusetts',
  '2007-11-19',
  '0001053507\n',
  '1995\n'],
 ['AWK\n',
  'American Water Works',
  'reports',
  'Utilities',
  'Water Utilities',
  'Camden, New Jersey',
  '2016-03-04',
  '0001410636\n',
  '1886\n'],
 ['AMP\n',
  'Ameriprise Financial',
  'reports',
  'Financials',
  'Asset Management & Custody Banks',
  'Minneapolis, Minnesota',
  '2005-10-03',
  '0000820027\n',
  '1894\n'],
 ['ABC\n',
  'AmerisourceBergen',
  'reports',
  'Health Care',
  'Health Care Distributors',
  'Chesterbrook, Pennsylvania',
  '2001-08-30',
  '0001140859\n',
  '1985\n'],
 ['AME\n',
  'Ametek',
  'reports',
  'Industrials',
  'Electrical Components & Equipment',
  'Berwyn, Pennsylvania',
  '2013-09-23',
  '0001037868\n',
  '1930\n'],
 ['AMGN\n',
  'Amgen',
  'reports',
  'Health Care',
  'Biotechnology',
  'Thousand Oaks, California',
  '1992-01-02',
  '0000318154\n',
  '1980\n'],
 ['APH\n',
  'Amphenol Corp',
  'reports',
  'Information Technology',
  'Electronic Components',
  'Wallingford, Connecticut',
  '2008-09-30',
  '0000820313\n',
  '1932\n'],
 ['ADI\n',
  'Analog Devices',
  'reports',
  'Information Technology',
  'Semiconductors',
  'Norwood, Massachusetts',
  '1999-10-12',
  '0000006281\n',
  '1965\n'],
 ['ANSS\n',
  'Ansys',
  'reports',
  'Information Technology',
  'Application Software',
  'Canonsburg, Pennsylvania',
  '2017-06-19',
  '0001013462\n',
  '1969\n'],
 ['ANTM\n',
  'Anthem',
  'reports',
  'Health Care',
  'Managed Health Care',
  'Indianapolis, Indiana',
  '2002-07-25',
  '0001156039\n',
  '2014 (1946)\n'],
 ['AON\n',
  'Aon',
  'reports',
  'Financials',
  'Insurance Brokers',
  'London, England',
  '1996-04-23',
  '0000315293\n',
  '1982 (1919)\n'],
 ['AOS\n',
  'A. O. Smith',
  'reports',
  'Industrials',
  'Building Products',
  'Milwaukee, Wisconsin',
  '2017-07-26',
  '0000091142\n',
  '1916\n'],
 ['APA\n',
  'APA Corporation',
  'reports',
  'Energy',
  'Oil & Gas Exploration & Production',
  'Houston, Texas',
  '1997-07-28',
  '0000006769\n',
  '1954\n'],
 ['AAPL\n',
  'Apple',
  'reports',
  'Information Technology',
  'Technology Hardware, Storage & Peripherals',
  'Cupertino, California',
  '1982-11-30',
  '0000320193\n',
  '1977\n'],
 ['AMAT\n',
  'Applied Materials',
  'reports',
  'Information Technology',
  'Semiconductor Equipment',
  'Santa Clara, California',
  '1995-03-16',
  '0000006951\n',
  '1967\n'],
 ['APTV\n',
  'Aptiv',
  'reports',
  'Consumer Discretionary',
  'Auto Parts & Equipment',
  'Dublin, Ireland',
  '2012-12-24',
  '0001521332\n',
  '1994\n'],
 ['ADM\n',
  'ADM',
  'reports',
  'Consumer Staples',
  'Agricultural Products',
  'Chicago, Illinois',
  '1981-07-29',
  '0000007084\n',
  '1902\n'],
 ['ANET\n',
  'Arista Networks',
  'reports',
  'Information Technology',
  'Communications Equipment',
  'Santa Clara, California',
  '2018-08-28',
  '0001596532',
  '2004\n'],
 ['AJG\n',
  'Arthur J. Gallagher & Co.',
  'reports',
  'Financials',
  'Insurance Brokers',
  'Rolling Meadows, Illinois',
  '2016-05-31',
  '0000354190\n',
  '1927\n'],
 ['AIZ\n',
  'Assurant',
  'reports',
  'Financials',
  'Multi-line Insurance',
  'New York City',
  '2007-04-10',
  '0001267238\n',
  '1892\n'],
 ['T\n',
  'AT&T',
  'reports',
  'Communication Services',
  'Integrated Telecommunication Services',
  'Dallas, Texas',
  '1983-11-30 (1957-03-04)',
  '0000732717',
  '1983 (1885)\n'],
 ['ATO\n',
  'Atmos Energy',
  'reports',
  'Utilities',
  'Gas Utilities',
  'Dallas, Texas',
  '2019-02-15',
  '0000731802',
  '1906\n'],
 ['ADSK\n',
  'Autodesk',
  'reports',
  'Information Technology',
  'Application Software',
  'San Rafael, California',
  '1989-12-01',
  '0000769397\n',
  '1982\n'],
 ['ADP\n',
  'Automatic Data Processing',
  'reports',
  'Information Technology',
  'Data Processing & Outsourced Services',
  'Roseland, New Jersey',
  '1981-03-31',
  '0000008670\n',
  '1949\n'],
 ['AZO\n',
  'AutoZone',
  'reports',
  'Consumer Discretionary',
  'Specialty Stores',
  'Memphis, Tennessee',
  '1997-01-02',
  '0000866787\n',
  '1979\n'],
 ['AVB\n',
  'AvalonBay Communities',
  'reports',
  'Real Estate',
  'Residential REITs',
  'Arlington, Virginia[3]',
  '2007-01-10',
  '0000915912\n',
  '1978\n'],
 ['AVY\n',
  'Avery Dennison',
  'reports',
  'Materials',
  'Paper Packaging',
  'Glendale, California',
  '1987-12-31',
  '0000008818\n',
  '1990\n'],
 ['BKR\n',
  'Baker Hughes',
  'reports',
  'Energy',
  'Oil & Gas Equipment & Services',
  'Houston, Texas',
  '2017-07-07',
  '0001701605',
  '2017\n'],
 ['BLL\n',
  'Ball Corp',
  'reports',
  'Materials',
  'Metal & Glass Containers',
  'Broomfield, Colorado',
  '1984-10-31',
  '0000009389',
  '1880\n'],
 ['BAC\n',
  'Bank of America',
  'reports',
  'Financials',
  'Diversified Banks',
  'Charlotte, North Carolina',
  '1976-06-30',
  '0000070858\n',
  '1998 (1923 / 1874)\n'],
 ['BK\n',
  'BNY Mellon',
  'reports',
  'Financials',
  'Asset Management & Custody Banks',
  'New York City',
  '1995-03-31',
  '0001390777',
  '1784\n'],
 ['BAX\n',
  'Baxter International',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'Deerfield, Illinois',
  '1972-09-30',
  '0000010456',
  '1931\n'],
 ['BDX\n',
  'Becton Dickinson',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'Franklin Lakes, New Jersey',
  '1972-09-30',
  '0000010795',
  '1897\n'],
 ['BRK.B\n',
  'Berkshire Hathaway',
  'reports',
  'Financials',
  'Multi-Sector Holdings',
  'Omaha, Nebraska',
  '2010-02-16',
  '0001067983\n',
  '1839\n'],
 ['BBY\n',
  'Best Buy',
  'reports',
  'Consumer Discretionary',
  'Computer & Electronics Retail',
  'Richfield, Minnesota',
  '1999-06-29',
  '0000764478\n',
  '1966\n'],
 ['BIO\n',
  'Bio-Rad Laboratories',
  'reports',
  'Health Care',
  'Life Sciences Tools & Services',
  'Hercules, California',
  '2020-06-22',
  '0000012208\n',
  '1952\n'],
 ['BIIB\n',
  'Biogen',
  'reports',
  'Health Care',
  'Biotechnology',
  'Cambridge, Massachusetts',
  '2003-11-13',
  '0000875045\n',
  '1978\n'],
 ['BLK\n',
  'BlackRock',
  'reports',
  'Financials',
  'Asset Management & Custody Banks',
  'New York City',
  '2011-04-04',
  '0001364742\n',
  '1988\n'],
 ['BA\n',
  'Boeing Company',
  'reports',
  'Industrials',
  'Aerospace & Defense',
  'Chicago, Illinois',
  '1957-03-04',
  '0000012927',
  '1916\n'],
 ['BKNG\n',
  'Booking Holdings',
  'reports',
  'Consumer Discretionary',
  'Internet & Direct Marketing Retail',
  'Norwalk, Connecticut',
  '2009-11-06',
  '0001075531\n',
  '1996\n'],
 ['BWA\n',
  'BorgWarner',
  'reports',
  'Consumer Discretionary',
  'Auto Parts & Equipment',
  'Auburn Hills, Michigan',
  '2011-12-19',
  '0000908255\n',
  '1880\n'],
 ['BXP\n',
  'Boston Properties',
  'reports',
  'Real Estate',
  'Office REITs',
  'Boston, Massachusetts',
  '2006-04-03',
  '0001037540\n',
  '1970\n'],
 ['BSX\n',
  'Boston Scientific',
  'reports',
  'Health Care',
  'Health Care Equipment',
  'Marlborough, Massachusetts[4]',
  '1995-02-24',
  '0000885725\n',
  '1979\n'],
 ['BMY\n',
  'Bristol-Myers Squibb',
  'reports',
  'Health Care',
  'Health Care Distributors',
  'New York City',
  '1957-03-04',
  '0000014272',
  '1989\n'],
 ['AVGO\n',
  'Broadcom',
  'reports',
  'Information Technology',
  'Semiconductors',
  'San Jose, California',
  '2014-05-08',
  '0001730168',
  '1961\n'],
 ['BR\n',
  'Broadridge Financial Solutions',
  'reports',
  'Information Technology',
  'Data Processing & Outsourced Services',
  'Lake Success, New York',
  '2018-06-18',
  '0001383312',
  '1962\n'],
 ['BF.B\n',
  'Brown–Forman',
  'reports',
  'Consumer Staples',
  'Distillers & Vintners',
  'Louisville, Kentucky',
  '1982-10-31',
  '0000014693',
  '1870\n'],
 ['CHRW\n',
  'C. H. Robinson',
  'reports',
  'Industrials',
  'Air Freight & Logistics',
  'Eden Prairie, Minnesota',
  '2007-03-02',
  '0001043277',
  '1905\n'],
 ['COG\n',
  'Cabot Oil & Gas',
  'reports',
  'Energy',
  'Oil & Gas Exploration & Production',
  'Houston, Texas',
  '2008-06-23',
  '0000858470',
  '1989\n'],
 ['CDNS\n',
  'Cadence Design Systems',
  'reports',
  'Information Technology',
  'Application Software',
  'San Jose, California',
  '2017-09-18',
  '0000813672',
  '1988\n'],
 ['CZR\n',
  'Caesars Entertainment',
  'reports',
  'Consumer Discretionary',
  'Casinos & Gaming',
  'Reno, Nevada',
  '2021-03-22',
  '0001590895',
  '1973\n'],
 ['CPB\n',
  'Campbell Soup',
  'reports',
  'Consumer Staples',
  'Packaged Foods & Meats',
  'Camden, New Jersey',
  '1957-03-04',
  '0000016732',
  '1869\n'],
 ['COF\n',
  'Capital One Financial',
  'reports',
  'Financials',
  'Consumer Finance',
  'Tysons Corner, Virginia',
  '1998-07-01',
  '0000927628',
  '1994\n'],
 ['CAH\n',
  'Cardinal Health',
  'reports',
  'Health Care',
  'Health Care Distributors',
  'Dublin, Ohio',
  '1997-05-27',
  '0000721371',
  '1971\n'],
 ['KMX\n',
  'CarMax',
  'reports',
  'Consumer Discretionary',
  'Specialty Stores',
  'Richmond, Virginia',
  '2010-06-28',
  '0001170010',
  '1993\n'],
 ['CCL\n',
  'Carnival Corporation',
  'reports',
  'Consumer Discretionary',
  'Hotels, Resorts & Cruise Lines',
  'Miami, Florida',
  '1998-12-22',
  '0000815097',
  '1972\n'],
 ['CARR\n',
  'Carrier Global',
  'reports',
  'Industrials',
  'Building Products',
  'Palm Beach Gardens, Florida',
  '2020-04-03',
  '0001783180\n',
  '2020 (1915)\n'],
 ['CTLT\n',
  'Catalent',
  'reports',
  'Health Care',
  'Pharmaceuticals',
  'Somerset, New Jersey',
  '2020-09-21',
  '0001596783',
  '2007\n'],
 ['CAT\n',
  'Caterpillar',
  'reports',
  'Industrials',
  'Construction Machinery & Heavy Trucks',
  'Deerfield, Illinois',
  '1957-03-04',
  '0000018230',
  '1925\n'],
 ['CBOE\n',
  'Cboe Global Markets',
  'reports',
  'Financials',
  'Financial Exchanges & Data',
  'Chicago, Illinois',
  '2017-03-01',
  '0001374310',
  '1973\n'],
 ['CBRE\n',
  'CBRE',
  'reports',
  'Real Estate',
  'Real Estate Services',
  'Dallas, Texas',
  '2006-11-10',
  '0001138118',
  '1906\n'],
 ['CDW\n',
  'CDW',
  'reports',
  'Information Technology',
  'Technology Distributors',
  'Lincolnshire, Illinois',
  '2019-09-23',
  '0001402057',
  '1984\n'],
 ['CE\n',
  'Celanese',
  'reports',
  'Materials',
  'Specialty Chemicals',
  'Irving, Texas',
  '2018-12-24',
  '0001306830',
  '1918\n'],
 ['CNC\n',
  'Centene Corporation',
  'reports',
  'Health Care',
  'Managed Health Care',
  'St. Louis, Missouri',
  '2016-03-30',
  '0001071739',
  '1984\n'],
 ['CNP\n',
  'CenterPoint Energy',
  'reports',
  'Utilities',
  'Multi-Utilities',
  'Houston, Texas',
  '1985-07-31',
  '0001130310',
  '1882\n'],
 ['CERN\n',
  'Cerner',
  'reports',
  'Health Care',
  'Health Care Technology',
  'North Kansas City, Missouri',
  '2010-04-30',
  '0000804753',
  '1979\n'],
 ['CF\n',
  'CF Industries',
  'reports',
  'Materials',
  'Fertilizers & Agricultural Chemicals',
  'Deerfield, Illinois',
  '2008-08-27',
  '0001324404',
  '1946\n'],
 ['CRL\n',
  'Charles River Laboratories',
  'reports',
  'Health Care',
  'Life Sciences Tools & Services',
  'Wilmington, Massachusetts',
  '2021-05-14',
  '0001100682',
  '1947\n'],
 ['SCHW\n',
  'Charles Schwab Corporation',
  'reports',
  'Financials',
  'Investment Banking & Brokerage',
  'Westlake, Texas',
  '1997-06-02',
  '0000316709',
  '1971\n'],
 ['CHTR\n',
  'Charter Communications',
  'reports',
  'Communication Services',
  'Cable & Satellite',
  'Stamford, Connecticut',
  '2016-09-08',
  '0001091667',
  '1993\n'],
 ['CVX\n',
  'Chevron Corporation',
  'reports',
  'Energy',
  'Integrated Oil & Gas',
  'San Ramon, California',
  '1957-03-04',
  '0000093410',
  '1879\n'],
 ['CMG\n',
  'Chipotle Mexican Grill',
  'reports',
  'Consumer Discretionary',
  'Restaurants',
  'Newport Beach, California',
  '2011-04-28',
  '0001058090',
  '1993\n'],
 ['CB\n',
  'Chubb',
  'reports',
  'Financials',
  'Property & Casualty Insurance',
  'Zurich, Switzerland',
  '2010-07-15',
  '0000896159',
  '1985\n'],
 ['CHD\n',
  'Church & Dwight',
  'reports',
  'Consumer Staples',
  'Household Products',
  'Ewing, New Jersey',
  '2015-12-29',
  '0000313927',
  '1847\n'],
 ['CI\n',
  'Cigna',
  'reports',
  'Health Care',
  'Managed Health Care',
  'Bloomfield, Connecticut',
  '1976-06-30',
  '0001739940\n',
  '1982\n'],
 ['CINF\n',
  'Cincinnati Financial',
  'reports',
  'Financials',
  'Property & Casualty Insurance',
  'Fairfield, Ohio',
  '1997-12-18',
  '0000020286',
  '1950\n'],
 ['CTAS\n',
  'Cintas Corporation',
  'reports',
  'Industrials',
  'Diversified Support Services',
  'Mason, Ohio',
  '2001-03-01',
  '0000723254',
  '1929\n'],
 ['CSCO\n',
  'Cisco Systems',
  'reports',
  'Information Technology',
  'Communications Equipment',
  'San Jose, California',
  '1993-12-01',
  '0000858877',
  '1984\n'],
 ['C\n',
  'Citigroup',
  'reports',
  'Financials',
  'Diversified Banks',
  'New York City',
  '1988-05-31',
  '0000831001',
  '1998\n'],
 ['CFG\n',
  'Citizens Financial Group',
  'reports',
  'Financials',
  'Regional Banks',
  'Providence, Rhode Island',
  '2016-01-29',
  '0000759944',
  '1828\n'],
 ['CTXS\n',
  'Citrix Systems',
  'reports',
  'Information Technology',
  'Application Software',
  'Fort Lauderdale, Florida',
  '1999-12-01',
  '0000877890',
  '1989\n'],
 ['CLX\n',
  'Clorox',
  'reports',
  'Consumer Staples',
  'Household Products',
  'Oakland, California',
  '1969-03-31',
  '0000021076',
  '1913\n'],
 ['CME\n',
  'CME Group',
  'reports',
  'Financials',
  'Financial Exchanges & Data',
  'Chicago, Illinois',
  '2006-08-11',
  '0001156375',
  '1848\n'],
 ['CMS\n',
  'CMS Energy',
  'reports',
  'Utilities',
  'Multi-Utilities',
  'Jackson, Michigan',
  '1999-05-03',
  '0000811156',
  '1886\n'],
 ['KO\n',
  'Coca-Cola Company',
  'reports',
  'Consumer Staples',
  'Soft Drinks',
  'Atlanta, Georgia',
  '1957-03-04',
  '0000021344',
  '1886\n'],
 ['CTSH\n',
  'Cognizant Technology Solutions',
  'reports',
  'Information Technology',
  'IT Consulting & Other Services',
  'Teaneck, New Jersey',
  '2006-11-17',
  '0001058290',
  '1994\n'],
 ['CL\n',
  'Colgate-Palmolive',
  'reports',
  'Consumer Staples',
  'Household Products',
  'New York City',
  '1957-03-04',
  '0000021665',
  '1806\n'],
 ['CMCSA\n',
  'Comcast',
  'reports',
  'Communication Services',
  'Cable & Satellite',
  'Philadelphia, Pennsylvania',
  '2002-11-19',
  '0001166691',
  '1963\n'],
 ['CMA\n',
  'Comerica',
  'reports',
  'Financials',
  'Diversified Banks',
  'Dallas, Texas',
  '1995-12-01',
  '0000028412',
  '1849\n'],
 ['CAG\n',
  'Conagra Brands',
  'reports',
  'Consumer Staples',
  'Packaged Foods & Meats',
  'Chicago, Illinois',
  '1983-08-31',
  '0000023217\n',
  '1919\n'],

In [254]:
sp_df = pd.DataFrame(sp_list)

In [256]:
sp_df.head(3)

,0,1,2,3,4,5,6,7,8
0,MMM\n,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,0000066740,1902\n
1,ABT\n,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888\n
2,ABBV\n,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)\n

In [265]:
#grab what's behind "reports" in column 3
#enumerate is a way to extract the index
sp_list = []
for tr in sp_trs[1:]:
    tds = tr.find_all('td')
    tr_list = []
    for (i,td) in enumerate(tds):
        if i == 2:
            tr_list.append(td.find('a')['href'])
        else:
            tr_list.append(td.text)
    sp_list.append(tr_list)

In [266]:
sp_df = pd.DataFrame(sp_list)

In [267]:
sp_trs[1]

<tr>
<td><a class="external text" href="https://www.nyse.com/quote/XNYS:MMM" rel="nofollow">MMM</a>
</td>
<td><a href="/wiki/3M" title="3M">3M</a></td>
<td><a class="external text" href="https://www.sec.gov/cgi-bin/browse-edgar?CIK=MMM&amp;action=getcompany" rel="nofollow">reports</a></td>
<td>Industrials</td>
<td>Industrial Conglomerates</td>
<td><a href="/wiki/Saint_Paul,_Minnesota" title="Saint Paul, Minnesota">Saint Paul, Minnesota</a></td>
<td>1976-08-09</td>
<td>0000066740</td>
<td>1902
</td></tr>

In [268]:
sp_df

,0,1,2,3,4,5,6,7,8
0,MMM\n,3M,https://www.sec.gov/cgi-bin/browse-edgar?CIK=M...,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,0000066740,1902\n
1,ABT\n,Abbott Laboratories,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888\n
2,ABBV\n,AbbVie,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)\n
3,ABMD\n,Abiomed,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981\n
4,ACN\n,Accenture,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989\n
...,...,...,...,...,...,...,...,...,...
500,YUM\n,Yum! Brands,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Y...,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061\n,1997\n
501,ZBRA\n,Zebra Technologies,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212\n,1969\n
502,ZBH\n,Zimmer Biomet,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869\n,1927\n
503,ZION\n,Zions Bancorp,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380\n,1873\n
504,ZTS\n,Zoetis,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952\n

In [280]:
sp_header=["Ticker", "Name", "Reports", "Sector", "Subsector", "Location", "Date Added", "Central Index Key", "Founded"]
sp_df = pd.DataFrame(sp_list, columns=sp_header)

In [281]:
sp_df

,Ticker,Name,Reports,Sector,Subsector,Location,Date Added,Central Index Key,Founded
0,MMM\n,3M,https://www.sec.gov/cgi-bin/browse-edgar?CIK=M...,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,0000066740,1902\n
1,ABT\n,Abbott Laboratories,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888\n
2,ABBV\n,AbbVie,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)\n
3,ABMD\n,Abiomed,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981\n
4,ACN\n,Accenture,https://www.sec.gov/cgi-bin/browse-edgar?CIK=A...,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989\n
...,...,...,...,...,...,...,...,...,...
500,YUM\n,Yum! Brands,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Y...,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061\n,1997\n
501,ZBRA\n,Zebra Technologies,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212\n,1969\n
502,ZBH\n,Zimmer Biomet,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869\n,1927\n
503,ZION\n,Zions Bancorp,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380\n,1873\n
504,ZTS\n,Zoetis,https://www.sec.gov/cgi-bin/browse-edgar?CIK=Z...,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952\n

In [282]:
sp_df.to_csv('formatted.2021-07-04.sp500.csv', index=False)
#what do I do with this?